*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: white;
    /*! cursor: none; */
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#thumbs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 800px;
    z-index: 100;
    margin: auto;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    display: none;
    cursor: zoom-out;
    background-color: #000;
    /* If you want a black background on the slide */
}

#viewer img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    display: none;
}

#thumbs .thumb img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}

.thumb {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    gap: 12px;
    color: grey;
    transition: all .4s ease-in-out;
    background-color: #0000;
}

.thumb:hover {
    background-color: #00000021;
    transition: all .4s ease-in-out;
}

#thumbs .thumb {
    /*! color: azure; */
    /*! cursor: zoom-in; */
}

a {
    color: brown;
}

p {
    font-size: 12px;
    line-height: 14px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    font-size: 14px;
}

#loading p {
    color: gray;
}

@media(max-width:600px) {
    #thumbs {
        grid-template-columns: repeat(4, 1fr);
    }
}