@font-face {
    font-family: 'boris';
    src: url('../fonts/boris-webfont.woff2') format('woff2'),
        url('../fonts/boris-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --spacing-l: 30px;
    --spacing-m: 20px;
    --spacing-s: 10px;

    --color-primary: #E6351E;

    --radius-soft: 10px;
    --radius-hard: 20px;

    --font-super: 4rem;
    --font-big: 1.7rem;
    --font-normal: 1.5rem;
    --font-small: 1.2rem;

}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    /* scrollbar-width: none; */
    color: var(--color-primary);
}

body {
    background-color: var(--color-primary);
}

body::-webkit-scrollbar {
    /* display: none; */
}

html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'boris', Arial, Helvetica, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: inherit;
    display: inline;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed;
}

a:hover {
    color: inherit;
    -webkit-animation: clignottement .1s infinite linear;
            animation: clignottement .1s infinite linear;
}

@-webkit-keyframes clignottement {
    0% {
        color: var(--color-primary);
    }

    100% {
        color: white;
    }
}

@keyframes clignottement {
    0% {
        color: var(--color-primary);
    }

    100% {
        color: white;
    }
}


/* TITRES */
h1 {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    top: var(--spacing-s);
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    z-index: 3;

    font-size: 4.5vw;

    text-shadow: 0 0 3px var(--color-primary);
}

h1>a,
h2>a {
    text-decoration: none;
}

h2 {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: var(--spacing-s);
    font-weight: 100;
    text-decoration: none;
    color: white;
    z-index: 3;

    font-size: 3vw;
    text-shadow: 0 0 2px var(--color-primary);

}

h3 {
    margin: 0;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 1.7rem;
}


h4 {
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
}


/* MISCELANIOUS */
small {
    margin: 5px 0 var(--spacing-s) 0;
    border: 1px dashed var(--color-primary);
    border-radius: 999px;
    padding: 8px 10px 5px 10px;
    opacity: 1;
    text-align: center;
    max-width: 400px;

    font-size: 1rem;
}

P {
    text-align: center;
    width: 80%;
    font-size: 1.2rem;

}

.gauche img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

    /* filter: grayscale(100%) sepia(100%) hue-rotate(300deg); */

}

.center {
    text-align: center;
}

.mood {
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
}

.final p {
    margin-bottom: var(--spacing-s) !important;
}

/* OVERLAYS */
.box {
    margin: auto;
    position: fixed;
    width: 50vw;
    height: calc(var(--vh, 1vh) * 100);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;

    background-image: url(../red_vert.svg);
    background-position: center;
    background-size: cover;

    z-index: 2;

    /* display: none; */
}

.overlayd {
    right: 0;
    width: calc(50vw + 1px);
}

.overlayg {
    left: 0;
    width: calc(50vw + 1px);
}


/* BLOCKS */

.block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;

    -ms-flex-line-pack: center;

        align-content: center;

    -ms-flex-pack: distribute;

        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    z-index: 1;
    position: relative;
}

.cote {
    height: 44vw;
    width: 44vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    -webkit-box-shadow: 0 0px 40px hsla(0, 0%, 0%, 0.1);
            box-shadow: 0 0px 40px hsla(0, 0%, 0%, 0.1);

}

.gauche {}

.droite {
    padding: 30px;
}

.turn {
    -webkit-animation: tourning 4s linear infinite;
            animation: tourning 4s linear infinite;
}

@-webkit-keyframes tourning {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes tourning {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


/* LIGNES */

.line {
    position: fixed;
    z-index: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 2px;
    top: 0;
    /* background-color: white; */
    border: 1.5px dashed white;
}

.one {
    top: 0;
    left: 25vw;
}

.two {
    top: 0;
    right: 25vw;
}

.three {
    height: 2px;
    width: 100vw;
    top: calc(var(--vh, 1vh) * 50);
    left: 0;
}


/* ROTATION SCREEN */
.need-rotation {
    position: fixed;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;

    display: none;
}

.need-rotation img {
    width: 50%;
    max-width: 180px;
}

@media screen and (max-width: 700px) {
    h1 {
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        left: var(--spacing-s);
        top: 0;
        height: calc(var(--vh, 1vh) * 100);
        text-align: center;
    }

    h2 {
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        right: var(--spacing-s);
        top: 0;
        width: inherit;
        height: calc(var(--vh, 1vh) * 100);
        text-align: center;
    }

    p {
        width: 100%;
    }

    .normal {
        font-size: var(--font-small);
    }

    .one {
        top: 0;
        left: 50vw;
    }

    .two {
        display: none;
    }

    .three {
        display: none;
    }

    .box {
        width: 100vw !important;
        height: calc(var(--vh, 1vh) * 50);
        background-image: url(../red_hor.svg) !important;
    }

    .overlayd {
        top: 0;
    }

    .overlayg {
        bottom: 0px;
        height: calc(var(--vh, 1vh) * 100 + 1px);
    }

    .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
    }

    .cote {
        height: calc(var(--vh, 1vh) * 45);
        width: calc(var(--vh, 1vh) * 45);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }


}




@media screen and (max-width: 750px) and (orientation:portrait) {
    .need-rotation {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (max-width: 750px) and (orientation:landscape) {
    .need-rotation {
        display: none !important;
    }
}