body{
  font-family: monospace;
}

header{
  padding: 1em;
  width: 100%;
  text-align: center;
}

header h1{
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  margin: .5rem 0;
}


#list{
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  counter-reset: item;
}

.item{
  width: 100%;
  text-align: left;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.item details{
  cursor: pointer;
}

.item h2{
  display: inline-block;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.item h2::before{
  margin-left: 1em;
  counter-increment: item;
  content: counter(item) ". ";
}

.item p{
  max-width: 70%;
  margin: 6px 0;
  text-indent: 4rem;
}

.item .author{
  display: block;
  text-indent: 4rem;
  color: gray;
}



#list a{
  text-decoration: none;
  color: gray;
}

#list a:hover{
  text-decoration: underline;
}

