:root {
    --spacing-s: 4px;
    --spacing-m: 8px;
    --spacing-l: 16px;

    --vert: rgba(85,184,49,1);
    --blanc: rgb(241, 241, 241);
    --rouge: rgb(224, 16, 16); 
}

body {
    background-color: black;
    color: grey;
    font-family: sans-serif;
    font-size: 17px;
    margin: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none ;
}

a:hover{
    color: aliceblue;
}

#vaecouter{
    position: fixed;
    left: 50%;
    top: var(--spacing-l);
    transform: translateX(-50%);
    font-weight: 900;
    font-size: 70%;
    z-index: 999;
}

#vaecouter:hover{
    text-decoration: underline;

}

.table {
    width: 80%;
    max-width: 850px;
    margin: auto;
    /* bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    min-height: 120vh;
    border: 1px solid;
    padding: var(--spacing-l);
    border-width: 0 1px 0 1px;
    display: flex;
    flex-direction: column;
    /*! justify-content: flex-end; */
    box-sizing: border-box;
    gap: var(--spacing-m);
    transform: rotate(180deg);
}

.table>div {
    /* border: 1px solid; */
    padding: var(--spacing-m);
    ;
    border-radius: 8px;

    
    
    transform: rotate(180deg);
}

p {
    margin: var(--spacing-s);
    line-height: 1.3;
    color: white;
}

.infos p {
    color: gray !important;
  }

.infos {
    display: flex;
    justify-content: space-between;
    font-size: 70%;
    opacity: 0.5;
}

.table>div:hover .infos {
    opacity: 1;
}

.infos>p>span:nth-child(1) {
    color: var(--vert);
    font-style: italic;
    font-weight: 900;

}

.infos>p>span:nth-child(2) {
    color: var(--blanc);

    font-weight: 900;
}

#pseudo{
    color: var(--rouge);
    font-style: normal;


}

.table a {
    
    width: 80%;
    padding: 15px var(--spacing-m);
    border: 1px solid grey;
    text-align: center;
    border-radius: 4px;
    margin: 30px auto 10px auto;
    transform: rotate(180deg);
  }

  .table a:hover {
border: 1px solid aliceblue;
  }