body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
  }

  #link {
    position: fixed;
    left: 50vw;
    bottom: 30px;
    transform: translateX(-50%);

    color: grey;
    font-size: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

    z-index: 3;
  }

  #link:hover{
    animation: flash .1s linear infinite;
  }

  @-webkit-keyframes flash {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .theme{
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    position: fixed;
    opacity: .3;
    background-color: transparent;
    z-index: 2;
  }

  .rot{
    height: 200vh;
    width: 200vw;
    position: fixed;
    left: -50vw;
    top: -50vh;
    z-index: 1;
    -webkit-clip-path: circle(45vw at 50% 50%);
    clip-path: circle(45vw at 50% 50%);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

  .video{
    height: 100%;
    width: 100%;
  }
  


@media screen and (min-width: 1000px) {

    .rot {
    height: 80vh;
    width: 80vw;
    position: fixed;
    left: 10vw;
    top: 7vh;
    z-index: 1;
    -webkit-clip-path: circle(20vw at 50% 50%);
    clip-path: circle(20vw at 50% 50%);
    }

  }