:root {
    --color: white;
    --bk: #e3e3e3;


}

body {
    margin: 20px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background-color: #44643d;
}


.player {
    position: fixed;
    object-fit: cover;
    height: calc(30svh);
    width: calc(100vw - 40px);
    overflow: hidden;
    border-radius: 12px;
    top: 0;
    left: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}


img {
    height: 80%;
    position: relative;
    z-index: 10;
    object-fit: contain;
    max-width: 80%;
}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
}

.info {
    z-index: 998;
    position: fixed;
    height: fit-content;
    overflow: scroll;
    top: calc(30vh + 0px);
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


p {
    text-indent: 14px;
}

form {
    background-color: var(--bk);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px 20px;
}


input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: black;
    background-color: white;
    text-align: left;
    transition: all .4s ease-in-out;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-radius: 99px;
    transition: all .4s ease-in-out;
}

input::placeholder {
    opacity: 0.5;

}


input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: 100%;
    text-align: center;
}

input[type="submit"]:active {
    border-radius: 99px;

    transition: all .4s ease-in-out;

}




small {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    opacity: .5;
}

.playerOn {
    height: calc(100svh - 40px) !important;
    transition: all 0.8s ease-in-out;

}