:root {
    --color: white;
    --bk: #e3e3e3;


}

body {
    margin: 20px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background-color: black;
    transition: all .5s ease-in-out;

}


.player {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    gap: 20px;
}


img {
    position: relative;
    z-index: 10;
    object-fit: contain;
    max-width: 80%;
    transition: all .5s ease-in-out;

}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

}

h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 0 10px red;
}

.info {
    z-index: 998;
    position: fixed;
    height: fit-content;
    overflow: scroll;
    top: calc(30vh + 20px);
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


p {
    text-indent: 14px;
}

form {
    background-color: var(--bk);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0 20px 20px 20px;
}


input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: black;
    background-color: white;
    text-align: left;
    transition: all .4s ease-in-out;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-radius: 99px;
    transition: all .4s ease-in-out;
}

input::placeholder {
    opacity: 0.5;

}


input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: 100%;
    text-align: center;
}

input[type="submit"]:active {
    border-radius: 99px;

    transition: all .4s ease-in-out;

}




.playerOn {
    height: 70vh !important;
    max-width: 95% !important;
    transition: all .5s ease-in-out;
}

.textOn {
    color: transparent;
    transition: all .5s ease-in-out;
    text-shadow: 0 0 0 transparent !important;
}