:root {
    --color: white;
    --bk: #e3e3e3;


}

body {
    padding: 20px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: black;
    transition: all .5s ease-in-out;

    display: flex;
    flex-direction: column;
    height: 100svh;
    /*! box-sizing: content-box; */
}


.player {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    gap: 20px;
    line-height: 1.2;
    height: 100%;
    margin: auto;
    -webkit-text-stroke: 1px white;
    color: transparent;
    max-width: 400px;
}


img {
    position: relative;
    z-index: 10;
    object-fit: contain;
    max-width: 80%;
    transition: all .5s ease-in-out;

}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

}

h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    transition: all .5s ease-in-out;

    color: transparent;
    -webkit-text-stroke: 2px white;
}

.info {
    z-index: 998;
    position: fixed;
    height: fit-content;
    overflow: scroll;
    top: calc(30vh + 20px);
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


p {
    text-indent: 14px;
    transition: all .5s ease-in-out;

}

form {
    background-color: var(--bk);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    gap: 10px;
    /*! background-color: transparent; */
    /*! position: fixed; */
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    font-size: .9rem;
    color: transparent;
    -webkit-text-stroke: 1px black;
    max-width: 400px;
    margin: auto;
}


input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    transition: all .4s ease-in-out;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-radius: 99px;
    transition: all .4s ease-in-out;
}

input::placeholder {
    opacity: 0.5;

}


input[type="submit"] {
    background-color: forestgreen;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1px white;

}

input[type="submit"]:active {
    border-radius: 99px;

    transition: all .4s ease-in-out;

}




.playerOn {
    max-width: 100% !important;
    transition: all .5s ease-in-out;
}

.textOn {
    color: transparent !important;
    transition: all .5s ease-in-out;
    -webkit-text-stroke: 0px transparent !important;
}

.titleOn {
    font-size: 1rem;
    color: transparent !important;
    transition: all .5s ease-in-out;
    /* -webkit-text-stroke: 0px transparent !important; */
}