:root {
    --color: white;
    --bk: #e3e3e3;


}

body {
    margin: 20px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--bk);
    color: white;
}


.player {
    position: fixed;
    object-fit: cover;
    height: calc(100svh - 40px);
    width: calc(100vw - 40px);
    overflow: hidden;
    border-radius: 4px;
    top: 20px;
}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-align: center;
}

.info {
    z-index: 999;
    position: fixed;
    height: calc(100vh - 20px);
    width: calc(100vw - 40px);
    overflow: scroll;
    top: 20px;
    left: 20px;
    padding: 0 5% 40px 5%;
}

.info div {
    padding: 30px 30px 20px 30px;
    border-radius: 4px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #44643d;
}

/* p {
    margin: 0 10px;
} */

form {
    background-color: var(--bk);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    gap: 6px;
    background-color: transparent;
}


input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    color: black;
    background-color: white;
    text-align: left;
    transition: all .4s ease-in-out;
}

input[type="email"]:focus,
input[type="text"]:focus {
    border-radius: 99px;
    transition: all .4s ease-in-out;
}

input::placeholder {
    opacity: 0.5;

}


input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: all .4s ease-in-out;
}

input[type="submit"]:active {
    border-radius: 99px;

    transition: all .4s ease-in-out;

}



img {
    height: 80vh;
    object-fit: contain;
}

small {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    opacity: .5;
}

button {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 1000;
    font-size: 1rem;
    cursor: pointer;
    opacity: .5;
}