@font-face {
    font-family: 'Zapfino';
    src: url('../fonts/Zapfino/ZapfinoLinotypeOne.woff') format('woff'),
        url('../fonts/Zapfino/ZapfinoLinotypeOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

:root {
    --spacing-l: 30px;
    --spacing-m: 20px;
    --spacing-s: 10px;

    --color-primary: #40403d;
    --color-secondary: snow;
    --color-special: blue;

    --color-primary-unchanged: #40403d;
    --color-secondary-unchanged: snow;

    --radius-s: 20px;

    --trans-m: all .3s ease-in-out;
    --trans-s: all .2s ease-in-out;
}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

html {
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: none;

    background-color: var(--color-secondary);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/******************* TEXTE SELECTOR *******************/
::-moz-selection {
    background-color: var(--color-special);
    color: var(--color-secondary-unchanged);
}

::selection {
    background-color: var(--color-special);
    color: var(--color-secondary-unchanged);
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed;

    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
    margin-bottom: 20px;
    display: flex;
    gap: var(--spacing-s);
    /* background-color: #00000017; */
    color: var(--color-secondary-unchanged);
    border-radius: 17px;
    padding: var(--spacing-s);
    z-index: 999;
}



button {
    border: none;
    padding: 5px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: var(--spacing-s);
    /* font-family: 'InstrumentalRegular'; */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border-radius: 7px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    font-family: Arial, Helvetica, sans-serif !important;
}

nav button {
    box-shadow: 0px 0px 10px 0px #40403d3d;
}


button:hover {
    cursor: pointer;
    background-color: var(--color-special);
    color: var(--color-secondary-unchanged);
}