html {
    scroll-behavior: smooth;
}

body {
    background-color: thistle;
    font-weight: 100;
    font-style: italic;
}

h2 {
    margin: 20px 0 10px 0;
}

h4 {
    margin: 0 0 10px 3px;
}

#arriba {
    font-style: normal;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    width: fit-content;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 30px 0;
}

#arriba:hover {
    border: 1px solid white;
    color: white;
}


/* CITIES */

#Amiens {
    background-color: orangered;
}

#Amsterdam {
    background-color: #9c692b;
}

#Genève {
    background-color: #4e954d;
}

#Socoa {
    background-color: #ceac30;
}

#Bulgaria {
    background-color: #e11c1c;
}

#Lübeck {
    background-color: #724af4;
}

#Marseille {
    background-color: #1f48cd;
}

#Cambrai {
    background-color: #ef39bb;
}

#Rotterdam {
    background-color: #f57927;
}

#Bilbao {
    background-color: #cbcbcb;
}

#Barcelone {
    background-color: #FFFFE3;
}

#Brussels {
    background-color: yellow;
}

#LeHavre {
    background-color: gray;
}

#Paris {
    background-color: skyblue;
}

#Pirineos {
    background-color: rgb(88, 204, 88);
}

#SaintRobert {
    background-color: rgb(248, 72, 72);
}

#Vercors {
    background-color: green;
}

#Cévennes {
    background-color: chocolate;
}

#Briançon {
    background-color: snow;
}

.index {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.block {
    min-width: 90px;
    border: 1px solid black;
    border-width: 0 0px 1px 1px;
    margin: 0px;
    border-radius: 10px;
    padding: 10px;
}

.cities>div>span,
.firm span {
    opacity: 0;
    width: 100%;
    text-align: center;
}

.cities>div>span:hover,
.firm span:hover {
    opacity: 1;
}

.city {
    height: 20px;
    min-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firm {
    color: white;
    margin: 20px 0 10px 0;
}