/* -----------------------------------
SCREEN NIGHT
-------------------------------------- */
#screen-night{
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0; left: 0;
  position: fixed;
  z-index: 999;
  color: snow;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 2rem;
}

#screen-night p{
  border: 1px solid snow;
  border-radius: var(--radius-hard);
  width: fit-content;
  padding: 4px var(--spacing-s) 2px var(--spacing-s);
}

.itsnight{
  display: flex !important;
}


/* -----------------------------------
MAIL STUFF
-------------------------------------- */
#mailcopied{
  height: auto;
  background: hsl(0, 0%, 97%);
  border-radius: 0 0 var(--radius-hard) var(--radius-hard);
  padding: 13px var(--spacing-s) var(--spacing-s) var(--spacing-s);
  z-index: 1;
  width: 80%;
  text-align: center;
  background-color: tomato;
  transform: translateY(-100%);
  position: relative;
  color: black;
  font-size: var(--font-normal);
  z-index: 1;
  }

.mailappear{
  transform:  translateY(0%) !important;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.5);
  transition: all .5s ease-in-out;
}

.mailexit{
  transform: translate(-50%,80%);
  transition: all .5s ease-in-out;
}


/* -----------------------------------
SWITCHER
-------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--thisColor);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: var(--projectsBack);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--flash);
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}