body {
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  font-family: sans-serif;

  background-color: whitesmoke;
  color: black;
  overflow: hidden;

  padding: 10px;
}


a {
  text-decoration: underline;
  transition: all .3s ease-in-out;
  color: inherit;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;
}


img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  aspect-ratio: 4/3;
  object-fit: contain;
  transition: all .5s cubic-bezier(.45, .05, .55, .95);
}

img:hover {
  width: 90%;
  /* transform: translate(-50%, -50%) scale(5); */
  transition: all 5s cubic-bezier(.45, .05, .55, .95);
}




@media screen and (max-width: 700px) {
  .text {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  img {
    max-width: 90%;
  }
}