body {
  margin: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  font-family: sans-serif;
  text-align: center;

  background-color: whitesmoke;
  color: #232323;
  padding: 20px;
}

a {
  color: var(--thisColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#street-view {
  border-radius: 25px;
  height: 50%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all .6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#street-view:hover {
  height: 100%;
  transition: all .6s cubic-bezier(0.39, 0.575, 0.565, 1);
}