.hidden {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  text-align: center;

  background-color: whitesmoke;
  color: #232323;
}


select:required:invalid {
  color: gray;
}

.hover:hover {
  cursor: pointer;
}

p {
  display: flex;
  gap: 2px;
  justify-content: center;
}


video {
  width: 100%;
  border-radius: 30px;
  aspect-ratio: 5/3;
  object-fit: cover;
  margin-bottom: 20px;
}


.sites {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  display: none;
}

.contents {
  width: 400px;
  max-width: 80vw;
  margin: auto;
}


.list {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 6px;
  width: fit-content;
  max-width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
}

.list select {
  padding: 4px 12px 3px 12px;
  border-radius: 999px;
  border: 1px solid gainsboro;
  max-width: 90%;
}

.list button {
  padding: 4px 8px 3px 8px;
  border-radius: 999px;
  border: 1px solid gainsboro;
}

#wip {
  width: 15px;
  display: inline-block;
  text-align: left;
}

.yup {
  display: inline-block;
  animation: scaleUp .6s ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}