@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.textStroke {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#videoPanel {
    transition: all ease-in-out .5s !important;
}

.playing {
    /* width: 55vw !important; */
    height: auto;
    transition: all ease-in-out .5s;
}

.infoReduced {
    /* max-width: 40vw !important; */
    transition: all ease-in-out .5s;
}

@media (max-width: 768px) {
    .playing {
        width: calc(100vw - 2rem);
        height: auto;
        transition: all ease-in-out .5s;
    }

    .infoReduced {
        max-width: inherit !important;
        transition: all ease-in-out .5s;
    }
}


a {
    color: blue;
}

a:hover {
    text-decoration: underline;
    cursor: pointer
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}