@media screen and (max-width: 800px) {

  html {
    font-size: 1rem;
    line-height: 1.4;
  }

  .year-selector {
    display: none;
  }

  .card {
    font-size: 1rem;
    width: 80vw;
  }

  .card-text img {
    max-height: 60px;
    max-width: 60px;
    margin: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
  }

  .card-text p {
    margin: var(--spacing-s) 10px var(--spacing-s) var(--spacing-s);
  }

  .now {
    margin: var(--spacing-l) var(--spacing-s) var(--spacing-s) var(--spacing-s);
  }


  .back {
    grid-template-columns: 1fr;
    overflow: scroll;
  }



  .grid {
    row-gap: 1rem;
    overflow: visible;
  }

}