/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --spacing-l: 30px;
  --spacing-m: 25px;
  --spacing-s: 17px;

  --thisColor: lightskyblue;
  --white: snow;
  --highlight: rgb(203, 203, 203);
  --dark: dimgray;

  --radius-soft: 10px;
  --radius-hard: 20px;

  --font-normal: 1.1rem;
  --font-small: .8rem;

}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'rubikregular';
  scrollbar-width: none;
}

iframe {
  border-radius: var(--radius-soft);

}

body::-webkit-scrollbar {
  display: none;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: var(--white);
  height: 100%;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  overflow-x: hidden;
  /* cursor: url(../pointer/blue.cur), pointer; */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h3 {
  margin: 7px;
  color: var(--highlight);
  text-align: center;
}


p {
  margin-bottom: var(--spacing-s);
}

/* -----------------------------------
SCREEN HOME
-------------------------------------- */
.front {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  z-index: 2;
  position: relative;
  display: inline-block;
  -webkit-backdrop-filter: blur(8px) saturate(100%);
  backdrop-filter: blur(8px) saturate(100%);
  background-color: #fffafa69;
  margin-bottom: calc(var(--vh, 1vh) * 100);
  bottom: 0;
  border-radius: 0 0 20px 20px;
  -webkit-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  -o-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  transition: all .5s cubic-bezier(.55, 0, .07, 1);
}

.screen-up {
  bottom: calc(var(--vh, 1vh) * 100);
  -webkit-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  -o-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  transition: all .5s cubic-bezier(.55, 0, .07, 1);
}

.middle {
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  z-index: 1;
}

/* -----------------------------------
MENU
-------------------------------------- */
.time {
  position: fixed;
  right: 0;
  margin: calc(var(--spacing-s) + 6px);

  z-index: 999;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 8px;
  font-size: var(--font-small);

}

.menu {
  position: fixed;
  margin: var(--spacing-s);

  height: 50px;

  z-index: 999;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* display: none; */
}

.enter {
  z-index: 999;
}

.identity {
  background-color: var(--thisColor);
  height: 45px;
  width: 45px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10px var(--thisColor);
  box-shadow: 0 0 10px var(--thisColor);
  z-index: 3;

  -webkit-animation: energy 3s ease-in-out;

  animation: energy 3s ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;

  color: black;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 1rem;

  transition: var(--tran-short);
  outline: none;

}

@-webkit-keyframes energy {
  0% {
    -webkit-box-shadow: 0 0 0px var(--thisColor);
    box-shadow: 0 0 0px var(--thisColor);
  }

  100% {
    -webkit-box-shadow: 0 0 30px var(--thisColor);
    box-shadow: 0 0 30px var(--thisColor);
  }
}

@keyframes energy {
  0% {
    -webkit-box-shadow: 0 0 0px var(--thisColor);
    box-shadow: 0 0 0px var(--thisColor);
  }

  100% {
    -webkit-box-shadow: 0 0 30px var(--thisColor);
    box-shadow: 0 0 30px var(--thisColor);
  }
}


#meCircle {
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  transform: rotate(-120deg);
  border-radius: 100%;
  -webkit-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  -o-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  transition: all .5s cubic-bezier(.55, 0, .07, 1);
}

.circling {
  background-image: url(../me.jpg);
  background-size: cover;

  opacity: 1 !important;
  -webkit-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  -o-transition: all .5s cubic-bezier(.55, 0, .07, 1);
  transition: all .5s cubic-bezier(.55, 0, .07, 1);
  ;
}

.menu span {
  padding: 8px var(--spacing-s) 8px calc(var(--spacing-s) + 10px);
  font-size: var(--font-small);
  margin-left: -17px;
  background-color: snow;
  border-radius: var(--radius-soft);
  -webkit-box-shadow: 0 0 20px var(--highlight);
  box-shadow: 0 0 20px var(--highlight);
  z-index: 2;
}


/* -----------------------------------
CARD STUFF
-------------------------------------- */
.card {
  width: 420px;
  -webkit-box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.2);
  background-color: var(--white);
  border-radius: var(--radius-hard);
  position: relative;
  z-index: 2;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--font-normal);
}

.card-text p {
  margin: var(--spacing-m) 10px var(--spacing-s) var(--spacing-m);
}

.card-text img {
  max-height: 80px;
  max-width: 80px;
  float: right;
  border-radius: 50%;
  margin: var(--spacing-m) var(--spacing-m) var(--spacing-s) 0;
}

.card-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #80808040;
}

.card-contact>a {
  background-color: var(--white);
  border-radius: var(--radius-hard);
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

.card-contact>a:nth-child(1) {
  border-right: 1px solid #80808040;
  border-radius: 0 0 0 var(--radius-hard);
}

.card-contact>a:nth-child(2) {
  border-radius: 0 0 var(--radius-hard) 0;
}

.card-contact>a:nth-child(1):hover,
.card-contact>a:nth-child(1):active {
  background: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

.card-contact>a:nth-child(2):hover,
.card-contact>a:nth-child(2):active {
  background: gold;
  text-decoration: none;
  cursor: pointer;
}



/* -----------------------------------
NOW
-------------------------------------- */
.now {
  padding: var(--spacing-l);
  /*! margin: 0 3vw; */
  color: white;
}

.now a {
  border: 1px dotted var(--highlight);
  border-radius: 500px;
  padding: 3px 5px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.now a:hover {
  cursor: ne-resize;
  color: black;
  background-color: var(--highlight);
}

/* -----------------------------------
PROJETS HOME
-------------------------------------- */
h2 {
  margin: 0;
  padding: 1px;
  text-align: center;
  font-size: .8rem;
  border-radius: 10px 10px 0 0;
  text-transform: capitalize;
}

.back {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  width: 100dvw;
  height: 100dvh;
  align-content: start;
  padding: 60px 20px 20px 20px;
  background-color: dimgray;
}

.grid {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}

.block {
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: snow;
  box-shadow: 0px 3px 20px hsla(0, 0%, 0%, 0.25);
  transform: perspective(25rem) rotateX(-25deg);
  transition: var(--tran-short);
}

.block:hover {
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.1);
  background-color: var(--thisColor);
  cursor: pointer;
  transform: perspective(20em) rotateX(0deg);
  transition: var(--tran-short);
}


.block img {
  /*! height: 100%; */
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 7px 7px;
}

/* -----------------------------------
SCREEN NIGHT
-------------------------------------- */
#screen-night{
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0; left: 0;
  position: fixed;
  z-index: 999;
  color: snow;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 2rem;
}

#screen-night p{
  border: 1px solid snow;
  border-radius: var(--radius-hard);
  width: fit-content;
  padding: 4px var(--spacing-s) 2px var(--spacing-s);
}

.itsnight{
  display: flex !important;
}

/* -----------------------------------
MAIL STUFF
-------------------------------------- */
#mailcopied{
  height: auto;
  background: hsl(0, 0%, 97%);
  border-radius: 0 0 var(--radius-hard) var(--radius-hard);
  padding: 13px var(--spacing-s) var(--spacing-s) var(--spacing-s);
  z-index: 1;
  width: 80%;
  text-align: center;
  background-color: tomato;
  transform: translateY(-100%);
  position: relative;
  color: black;
  font-size: var(--font-normal);
  z-index: 1;
  }

.mailappear{
  transform:  translateY(0%) !important;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.5);
  transition: all .5s ease-in-out;
}

.mailexit{
  transform: translate(-50%,80%);
  transition: all .5s ease-in-out;
}

/* -----------------------------------
  PASSWORD PROTECTION
-------------------------------------- */

.badpass {
  font-size: 3rem !important;
  height: 100% !important;
  width: 100% !important;
  bottom: 2px !important;
  right: calc(50vw - 50vh) !important;
  position: fixed !important;
  max-width: 100vw !important;
  transform: rotate(0deg) !important;
  top: 0;
  left: 0;

  background-color: var(--thisColor) !important;
background-image: none;
}

.secret {
  display: none;
  box-shadow: 0px 3px 20px greenyellow;
}

.secret:hover {
  box-shadow: 0px 0px 10px greenyellow;

}

.hide {
  opacity: 0;
  transition: var(--tran-short);
}

.show {
  display: inline-grid;
  transition: var(--tran-short);
}
