/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --spacing-l: 30px;
  --spacing-m: 25px;
  --spacing-s: 17px;

  --white: snow;
  --plus: greenyellow;
  --highlight: rgb(203, 203, 203);
  --dark: dimgray;

  --radius-soft: 10px;
  --radius-hard: 20px;

  --font-normal: 1.1rem;
  --font-small: .8rem;

  --tran-short: all .3s ease-in-out;
  ;

}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  scrollbar-width: none;
}


/* body::-webkit-scrollbar {
  display: none;
} */

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: var(--white);
  height: 100%;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  overflow-x: hidden;
  /* cursor: url(../pointer/blue.cur), pointer; */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
  margin: 10px 0 0 0;
}

a {
  color: inherit;
  width: fit-content;
}

a:hover {
  color: blue;
  text-shadow: 0 0 4px #0000ff82;
  text-decoration: underline;
}


p {
  max-width: 450px;
  margin-bottom: 10px;
}

ul {
  max-width: 450px;
  margin: 0;
}

.list a {
  display: block;
}

/* -----------------------------------
Selector
-------------------------------------- */
.archive{
  margin-top: 20px;
  font-size: 0.7rem;
}

.archive-selector {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-family: sans-serif;
  font-size: 0.7rem;

  padding: 0;

  width: 33px;
  text-decoration: underline;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.archive-selector:hover {
  color: blue;
  text-shadow: 0 0 10px blue;
  text-decoration: underline;
}


/* -----------------------------------
SCREEN NIGHT
-------------------------------------- */
#screen-night {
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  color: snow;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  font-size: 2rem;
}

#screen-night p {
  border: 1px solid snow;
  border-radius: var(--radius-hard);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px var(--spacing-s) 2px var(--spacing-s);
}

.itsnight {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}