@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 
#infoPanel {
    scrollbar-width: 5px;
    scrollbar-width: thin;
    scrollbar-width: thin;

}

@media only screen and (min-width: 64em) {
    #infoPanel::scrollbar {
        width: 5px;
    }
}

#infoPanel::-webkit-scrollbar-track {
    background: transparent;
}

#infoPanel::-webkit-scrollbar-thumb {
    background: #767676;
}

#infoPanel::-webkit-scrollbar-thumb:hover {
    background: #767676;
} */

.shadowUp {
    box-shadow: 0 -10px 20px white;
}