
        body{

          background-color: steelblue;
          margin: 0;
          padding: 0;
          font-size: 110%;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .things {
          background-color: snow;
          margin: 10px 30px;
          padding: 14px 50px 20px 14px;
          width: fit-content;
          height: fit-content;
          position: relative;
        }


        details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0 0;
    background-color: snow;
    margin: 10px 30px;
    width: fit-content;
    height: fit-content;
    position: relative;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0 0;
    padding: 1em;
    width: 100%;
}

details[open] {
  padding: 0.5em 2em 1.5em 0em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
}





        h1{
          margin: 24px 0 20px 30px;
          font-size: 160%;
          color: snow;
          opacity: .4;
        }

        h2{
          margin: 0px auto 15px auto;
          font-size: 110%;
          display: inline;
        }

        ul{
          margin: 0;
        }

        span{
          opacity: .5;
          font-size: 90%;
        }
