:root {
    --space: 4vw;
}

body {
    margin: 0;
    font-size: 8vw;
    overflow-x: hidden;
}

h1,
h3 {
    margin: 0;
    padding: 0;
    /* font-weight: 400; */
    line-height: 1.4;
}

a {
    color: inherit;
}

small {
    font-size: 3vw;
    opacity: .3;
    padding: 0 var(--space);
    display: block;

}

h1 {
    /* position: fixed;
    bottom: 18vw;
    right: var(--space);
    z-index: 9999;
    width: 45%;
    background-color: white;
    padding: var(--space); */
    border-radius: 30px 30px 30px 0;
    font-size: 10vw;
    line-height: 1.1;
    font-weight: 400;
    padding: 0 var(--space);
}



p {
    padding: 0 var(--space);
}

hr {
    margin: var(--space);
    border: 1px solid gainsboro;
}

.separator {
    width: 100vw;
    /* text-align: ce; */
    padding: 0 var(--space);
}

#pablo {
    z-index: 9999;
    width: 60%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

#download {
    position: fixed;
    bottom: 5vw;
    right: 3vw;
    z-index: 9999;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    font-size: 5vw;
    border: none;
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transform: rotate(-5deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

#download img {
    height: 24px;
}

#maps {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    width: calc(100% - (var(--space)*2));
    height: auto;
    aspect-ratio: 4/3;
    background-image: url('photo.png');
    background-size: cover;
    border-radius: 30px;
    background-position: center;


    font-size: 7vw;
    margin: var(--space);
    cursor: pointer;

    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* When this class is added via JS, the background image swaps seamlessly */
#maps.show-lines {
    background-image: url('map.png');
}

#credits {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* background-color: red; */
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

#credits img {
    width: 100%;
}

/* TECHNICAL */

textarea {
    resize: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    field-sizing: content;
    font-size: 10vw;

    font-family: "Times New Roman", Times, serif;
    padding: 2px 6px;
    /* font-weight: bold; */
    border-radius: 6px;
    transform: translateY(8px);
    /* border: none; */
    overflow-Y: none !important;
    background-color: transparent;
    z-index: -1;

}


textarea:focus {
    outline: none !important;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

legend {
    margin-bottom: 6px;
}

fieldset {
    border: none;
    margin: 12px 0;
    padding: 0 var(--space);
}

.extra {
    display: none;
}