@import url(reset.css);
@import url(variables.css);

:root {
    --menu-on: black;
    --menu-off: #00000089;

    --space: 12px;
    --radius: 14px;

    --text-xl: 26px;
    --text-l: 22px;
    --text-m: 20px;
    --text-s: 18px;
    --text-xs: 14px;

    --slow: all .6s cubic-bezier(0.60, 0, 0, 1);
    --fast: all .2s cubic-bezier(0.60, 0, 0, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 110%;
}

a {
    color: black;
    text-decoration: none;
}