@import "tailwindcss";

@theme {
    --shadow-big: 4px 4px 20px rgba(0, 0, 0, 0.2);

    --color-grey: rgb(170, 170, 170, 0.9);
    --color-black: #303030;

    --color-grad-black: rgb(0, 0, 0, .3);

}

@layer base {
    html {
        @apply scroll-smooth;
    }
}