/* GRID */

.grid {
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    display: none;
}

.block img {
    border-radius: 12px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info p {
    color: var(--menu-off);
    display: none;
}

.block:hover {
    cursor: pointer;
}

.block:hover span {
    display: none;
}

.block:hover p {
    display: inline;
}


/* LIST */
.list {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;

    font-size: 15px;
    line-height: 110%;
}

.line {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 12px 20px;
}

.line .info {
    display: flex;
    text-align: left;
    gap: 10px;
}

.line:hover {
    background-color: yellow;
    cursor: pointer;
}

/* year-specific hover colors */
.line[data-year="2025"]:hover {
    background-color: lightgreen;
}

.line[data-year="2024"]:hover {
    background-color: lightblue;
}

.line[data-year="2023"]:hover {
    background-color: lightcoral;
}

.line[data-year="2022"]:hover {
    background-color: lightgrey;
}

.line[data-year="2021"]:hover {
    background-color: lightgoldenrodyellow;
}

.line[data-year="2020"]:hover {
    background-color: lightskyblue;
}

.line[data-year="2019"]:hover {
    background-color: lightcyan;
}

.line .description {
    opacity: 0;
    color: var(--menu-off);
}

.line:hover .description {
    opacity: 1;
}

.line .year {
    width: fit-content;
}

@media screen and (max-width: 800px) {

    .line {
        padding: 10px;
    }


    .line .description {
        opacity: 1;
    }

    .line .url {
        display: none;
    }
}