body {
    background-color: yellow;
    margin: 0;
}

marquee {
    width: 100vw;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px black;

    padding: 10px;
    height: 30px;

    display: flex;
    align-items: center;
}