:root{
    --background-sommaire: fuchsia;
    --background-notes: gold;
    --background-options: skyblue;
}

/******************* Right SIDE *******************/
.sideRight {
    background-color: white;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 18px;
}

.sideRight div {
    font-weight: 400;
    margin: 0;
    width: 40px;
    writing-mode: sideways-rl;
    font-size: 16px;
    transform: rotate(180deg);
    height: 100%;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    margin-right: -18px;
    background-color: white;
    box-shadow: 0 0 10px 0 #000;

    padding-top: var(--space-m);
    padding-left: 3px;
    text-transform: uppercase;
}

.sideRight div:hover{
    color: rgb(137, 137, 137);
}


/******************* LEFT SIDE *******************/
.reduireLeft {
    transform: scaleX(0.9);
    transform-origin: right;

    transition: var(--trans-quick);
}


#sommaireButton {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh / 3);
    z-index: 2;
    border-radius: 0 10px 0 0;
}

.sommaireButtonOn {
    z-index: 99 !important;
    box-shadow: none !important;
    background-color: var(--background-sommaire) !important;
}

#notesButton {
    position: fixed;
    top: calc(100vh / 3);
    left: 0;
    height: calc(100vh / 3);
    z-index: 1;
}

.notesButtonOn {
    z-index: 99 !important;
    box-shadow: none !important;
    background-color: var(--background-notes) !important;
}

#optionsButton {
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh / 3);
    z-index: 0;
    border-radius: 0 0 10px 0;
}

.optionsButtonOn {
    z-index: 99 !important;
    box-shadow: none !important;
    background-color: var(--background-options) !important;
}

.sideLeft {
    width: 30px;
    font-weight: 400;
    margin: 0;
    writing-mode: sideways-rl;
    font-size: 16px;
    transform: rotate(180deg);
    box-shadow: 3px 0 26px 0 #000;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: var(--space-m) 0;
}


/******************* SOMMAIRE *******************/

.sommairePage {
    width: inherit;
    height: 100%;
    z-index: 5;
    padding: var(--space-xl);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    background-color: var(--background-sommaire);
}



.sommairePage h2 {
    padding-top: var(--space-l);
    margin-top: calc(-1 * var(--space-l));
}


.sommairePage h3 {
    margin: var(--space-l) 0 0 0;
    font-weight: 400;
}

.sommairePage h4 {
    font-style: italic;
}

.sommairePage ul {
    margin: 0 0 var(--space-s) var(--space-l);
}


.sommairePage summary {
    margin-left: var(--space-l)
}



/******************* NOTE PAGE *******************/
.notifNotes {
    position: fixed;
    left: calc(75vw - 5vw + 20px);
    bottom: 0px;
    transform: translate(-50%, 100%);
    border: 1px solid var(--color-white-semi);
    width: fit-content;
    font-size: 16px;
    z-index: 999;
    color: var(--color-background);
    background-color: var(--color-borders);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-s);

    opacity: 0;
    visibility: hidden;
}

.notifNotes:hover {
    background-color: var(--color-borders-light);
}

.animateNotifNotes {
    animation: goup 4s ease-in-out;
}

@keyframes goup {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(-50%, 100%);
    }

    20% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    70% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    99% {
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -100%);
    }
}


.notesPage {
    width: inherit;
    height: 100%;
    z-index: 5;
    padding: var(--space-xl);
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--background-notes);
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.notesPage .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    align-items: baseline;
}

.header img {
    height: 15px;
    margin-left: 2px;
}


.littleNote {
    margin: var(--space-s) 0;
    padding: var(--space-s) var(--space-m);
    border: 1px solid var(--color-borders);
    background-color: var(--color-white-semi);
    border-radius: var(--border-s);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    min-height: 130px;
}

.littleNote:hover {
    cursor: text;
}

.littleNote:hover div {
    opacity: 1;
    transition: var(--trans-quick);
}

.littleNote div {
    margin: var(--space-s) 0;
    padding: var(--space-s);
    border: 1px solid var(--color-white-semi);
    background-color: var(--color-borders);
    height: 4px;
    width: 10px;
    border-radius: 999px;
    margin-right: var(--space-s);
    display: flex;
    position: absolute;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 999;

    transition: var(--trans-quick);
    opacity: 0;
}

.littleNote div:nth-child(1) {
    right: 14px;
    margin-top: -4px;
}

.littleNote div:nth-child(2) {
    right: 14px;
    margin-top: 22px;
}

.littleNote div img {
    height: 13px;
}

.notesPage::-webkit-scrollbar {
    width: 3px;
}

.notesPage::-webkit-scrollbar-track {
    background: black;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.notesPage::-webkit-scrollbar-thumb {
    background: red;
    border: 3px solid blue;
}


/******************* OPTIONS PAGE *******************/

.reduireRight {
    transform: scaleX(0.9);
    transform-origin: left;

    transition: var(--trans-quick);
}

.options:hover {
    background-color: white;
    opacity: .6;
    width: 50vw;
    z-index: 1;
    position: absolute;
    height: 100%;
    right: 0;
}

.closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    border-radius: 999px;
    border: 1px solid var(--color-white-semi);
    margin: var(--space-m);
    text-align: center;
}

.optionsPage>span:nth-child(1) {
    background-color: var(--color-background);
    color: var(--color-white-semi);
}

.notesPage>span:nth-child(1) {
    background-color: var(--color-borders);
    color: var(--color-white-semi);
}


.optionsPage {
    width: inherit;
    height: 100%;
    z-index: 5;
    padding: var(--space-xl);
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--background-options);
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}