/******************* BOOKMARKS *******************/

#bookmarkPartieI {
  right: 75px;
  z-index: 3;
}

#bookmarkPartieII {
  right: 50px;
  z-index: 2;
}

#bookmarkPartieIII {
  right: 25px;
  z-index: 1;
}

#bookmarkPartieFin {
  right: 0;
  z-index: 0;

}



#bookmarkPartieIOff {
  left: 0px;
  z-index: 3;
  display: none;
}


#bookmarkPartieIIOff {
  left: 15px;
  z-index: 4;
  display: none;
}


#bookmarkPartieIIIOff {
  left: 30px;
  z-index: 5;
  display: none;
}

#bookmarkPartieFinOff {
  left: 45px;
  z-index: 6;
  display: none;
}

.bookmarks {
  width: 120px;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
}

.bookmarks div {
  font-weight: 400;
  width: 50px;
  writing-mode: sideways-rl;
  font-size: var(--fs-middle);
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 var(--color-shadow);
  padding-top: 12px;
  padding-right: 8px;
  text-transform: uppercase;
  transition: var(--trans-quick);
  font-family: var(--ff-titles);
  position: absolute;
  background-color: var(--color-white);
  height: 100%;
}

.bookmarks div:nth-last-child(1){
  border-radius: 0 15px 15px 0;
}

.bookmarks div:hover {
  /* color: rgb(137, 137, 137);
    background-color: red; */
}

.bookmarksOff {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: var(--color-white);
  width: 50px;
  height: 100%;
}

.bookmarksOff div {
  position: absolute;
  height: 100%;
  width: 30px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px 0 var(--color-shadow);
}


.bookmarks>div>span {
  position: sticky;
  top: 12px;
  display: flex;
}


.bookmarks>div>span>span {
  writing-mode: tb;
  font-size: var(--fs-big);
  margin-bottom: 5px;
  height: var(--fs-big) !important;
  display: flex;
  justify-content: center;
  font-family: var(--ff-text);
}

/******************* LEFT SIDE *******************/

.panel h2 {
  padding: 0 !important;
  margin: 0;
  font-family: Commonsans, sans-serif;
  font-weight: 400;
  padding-top: var(--space-l);
  text-transform: uppercase;
  font-family: var(--ff-text);
}

.panel {
  position: sticky;
  top: var(--space-xl);
  left: 0;
  z-index: 0;
  height: 100vh;
  width: calc(100% + var(--space-xl) * 2);
  display: none;
  transition: var(--trans-quick);
  z-index: 990;
  transform: translate(calc(var(--space-xl) * -1), calc(var(--space-xl) * -1));
}

.displayed {
  display: flex;
  transition: var(--trans-quick);
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
  flex-direction: column;
  position: fixed;
  border-radius: 15px 0 0 15px;
  
}

.header div {
  width: 30px;
  height: calc(100% / 3);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: var(--space-s) 0;
  background-color: var(--color-white);
  writing-mode: sideways-lr;
  box-shadow: -5px 0 20px 0 var(--color-shadow);
  font-family: var(--ff-text);
}

.header div:nth-child(1){
  border-radius: 15px 0 0 0px;
}


.header div:nth-child(3){
  border-radius: 0px 0 0 15px;
}

.header div:hover {
  background-color: var(--color-highlight);
}

.panel>div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll !important;
  width: inherit;
  height: 100%;
  padding: var(--space-m);
  box-sizing: border-box;
  z-index: 5;
  background-color: var(--color-secondary);
  display: none;
}

.panel>div::-webkit-scrollbar {
  display: none;
}

.sommaireButtonOn {
  z-index: 999 !important;
  box-shadow: none !important;
  background-color: var(--color-secondary-light) !important;
  color: var(--color-white) !important;
  justify-content: center !important;
  /* writing-mode: inherit !important; */
  padding: 0 !important;
}

.sommaireButtonOn:hover span {
  width: 100% !important;
  height: calc(100%) !important;
  display: flex !important;
  align-items: center !important;
  box-sizing: border-box !important;
  background-color: var(--color-secondary) !important;
  color: var(--color-black) !important;
  justify-content: center !important;
}

/******************* SOMMAIRE *******************/

.sommairePage h3 {
  margin: var(--space-l) 0 0 0;
  font-weight: 400;
}

.sommairePage h4 {
  margin: 0 0 2px 0;
  font-family: var(--ff-titles);
  font-size: var(--fs-middle);
  line-height: var(--lh-middle);
}

.sommairePage h4 span {
  font-size: var(--fs-normal);
}

.sommairePage div {
  border-radius: 10px;
  margin: var(--space-m) 0;
  padding: var(--space-s);
  border: 1px solid var(--color-secondary-light);
}

.sommairePage div:hover {
  cursor: pointer;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
}

.sommairePage a {
  text-decoration: none !important;
}

.sommairePage a:hover {
  text-decoration: underline !important;
}

.indexSelected {
  background-color: var(--color-white) !important;
}

.sommairePage ul {
  margin: 0 0 var(--space-s) 7px;
}

.sommairePage ul {
  list-style: none;
}

.sommairePage ul li::before {
  content: "・ ";
}

.sommairePage details>summary {
  list-style-type: "→ ";
  margin-left: var(--space-l);
  width: fit-content;
}

.sommairePage details[open]>summary {
  list-style-type: "⤵ ";
}

::marker:hover {
  opacity: 0.5 !important;
}

.sommairePage details {
  font-size: var(--fs-middle);
  line-height: var(--lh-normal);
}

/******************* NOTE PAGE *******************/

.notesPage::-webkit-scrollbar {
  width: 10px;
}

.notesPage::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.notesPage::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

.notesPage>p {
  font-size: var(--fs-small);
  margin: var(--space-s) var(--space-s) 0 var(--space-s) !important;
  line-height: var(--lh-small);
  text-indent: 0;

  border-radius: 10px;
}

.littleNote {
  position: absolute;
  width: calc(50% - var(--space-xl) * 1);
  font-size: 12px;
  color: var(--color-notes);
  text-align: right;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 999;
}

.notesCopy {
  border-radius: 10px;
  margin: var(--space-m) 0;
  border: 1px solid var(--color-secondary-light);
  padding: 5px var(--space-s);
  font-size: var(--fs-middle);
  line-height: var(--lh-middle);
}

.notesCopyHeader {
  font-size: var(--fs-middle);
  color: var(--color-notes);
  display: flex;
  justify-content: space-between;
  padding: var(--space-s);
}

.notesCopy p {
  padding: var(--space-s);
  text-indent: 0 !important;
  margin: 0 !important;
  border-radius: 10px;
}

.notesCopy:last-child {
  margin-bottom: 0 !important;
}

.notesCopy textarea {
  border: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  /* min-width: 150px; */
  min-height: 20px !important;

  background-color: transparent;
  color: var(--color-black);
  padding: var(--space-s) var(--space-s) 0 var(--space-s);
}

.notesCopySelection {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* TEXTAREA AUTO RESIZE STYLES BEGIN */

/* The .hiddendiv styles are added with JS.
   You can remove the JS lines and use CSS instead
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}*/

/* the styles for 'txta' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.txta {
  width: 100%;
  max-width: 500px;
  font-family: var(--ff-text);
  font-size: var(--fs-middle);
  line-height: var(--lh-middle);
  overflow: hidden;
  padding: var(--space-s);
}

/* TEXTAREA AUTO RESIZE STYLES END */

/******************* OPTIONS PAGE *******************/

.options:hover {
  background-color: var(--color-white);
  opacity: 0.6;
  width: 50vw;
  z-index: 1;
  position: absolute;
  height: 100%;
  right: 0;
}

.closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  border-radius: 999px;
  border: 1px solid var(--color-secondary);
  margin: var(--space-m);
  text-align: center;
}

.optionsPage>span:nth-child(1) {
  background-color: var(--color-background);
  color: var(--color-secondary);
}

.notesPage>span:nth-child(1) {
  background-color: var(--color-secondary);
  color: var(--color-secondary);
}