/******************* UTILITY CLASSES *******************/
.pointer:hover {
    cursor: pointer;
}

.pointer img:hover {
    cursor: pointer;
}

.underline{
    text-decoration: underline !important;
}

.no-indent{
    text-indent: 0 !important;
}