html {
    scroll-behavior: smooth;
}

body {
    background-color: snow;
    font-weight: 100;
}

h2 {
    margin: 20px 0 10px 0;
}

#content {
    display: flex;
    flex-direction: column-reverse;
}

h4 {
    margin: 0;
    padding: 2px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-weight: 400;

    text-decoration: underline;

    /* font-style: italic; */

}

#arriba {
    font-style: normal;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    width: fit-content;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#arriba:hover {
    border: 1px solid gray;
    color: gray;
}


.index {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;

    border-top: 1px solid black;
    padding-top: 10px;
}

.content {}

.block {
    display: flex;
}

.cities {
    display: flex;
}

.city {
    height: 20px;
    min-width: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firm {
    color: white;
    margin: 10px 0 10px 0;
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: center;
    background-color: darkgoldenrod;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}