.index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.index .city {
    width: auto !important;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

    width: 100%;
}


.cities {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /*! flex-wrap: wrap; */
}

.city {
    padding: 5px;
    border-radius: 4px;
    /*! height: fit-content; */
    display: flex;
    align-items: center;
    /*! min-width: 90px; */
    justify-content: center;
    width: 100%;
}

.block {
    /*! height: fit-content; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    /*! height: fit-content; */
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 20px;
}

h4 {
    margin: 0;
}

.firm {
    line-height: 1.5;

}


body>div {
    /*! background-color: aquamarine; */
    display: flex;
    /*! width: 100%; */
    gap: 20px;
}

body>div>div:nth-child(1) {
    background-color: white;
    padding: 10px;
    flex-direction: column;
    max-width: 220px;
    position: sticky;
    top: 20px;
    border-radius: 8px;

    display: flex;
    height: calc(100vh - 60px);
    justify-content: space-between;
}

h2 {
    margin: 0 0 20px 0;
}

.index .city.selected {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 4px;
}