@import url(../assets/fonts/fonts.css);

:root {
  --white: snow;
  --highlight: rgb(203, 203, 203);
  --dark: dimgray;

  --secret: navajowhite;

  --tran-short: all .s ease-in-out;
  --tran-long: all 1s ease-in-out;


}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'rubikregular';
  scrollbar-width: none;
}


html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 1rem;

  /* cursor: url(../pointer/blue.cur), pointer; */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--thisColor);
}

.secret {
  display: none;
  box-shadow: inset 0 0px 10px var(--thisColor);
}


.contenu {
  margin: 10px;
}

.nopointer {
  cursor: initial !important;
}


/* -----------------------------------
  TABLE LAYOUT
-------------------------------------- */
#header {
  background-color: inherit;
}


.invertArrow:after {
  border-width: 4px 4px 0px !important;
}

.normalArrow:hover:after {
  visibility: visible;
  cursor: pointer !important;

}

.normalArrow:after {
  content: '';
  float: right;
  margin: .5rem 0 0 .5rem;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: white transparent;
  visibility: hidden;
}


table {
  border-radius: 20px;
  background-color: snow;
  overflow: scroll;
}

#header td {
  background-color: black;
  color: white;
}

#header td:first-child {
  border-radius: 16px 0 0 0;

}

#header td:last-child {
  border-radius: 0 16px 0 0;

}


td {
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
  padding: 10px 24px;
}

tr {
  transition: var(--tran-short);

}

tr:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: var(--tran-short);
}



.enter>input {
  background-color: black;
  color: white;
  padding: 10px 24px;
  border-radius: 50%;
  width: 150px;
  border: none;
  height: 150px;
  text-align: center;
  font-size: 3rem;

  animation: tourning 10s linear infinite;
  transition: var(--tran-long);

  position: fixed;
  bottom: 10px;
  right: 10px;

  outline: none;
}

@keyframes tourning {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.badpass {
  font-size: 15rem !important;
  height: calc(100vh - 4px) !important;
  width: calc(100vh - 4px) !important;
  bottom: 2px !important;
  right: calc(50vw - 50vh) !important;
  position: fixed !important;
  max-width: 100vw !important;

}

/* -----------------------------------
  PASSWORD PROTECTION
-------------------------------------- */


.hide {
  opacity: 0;
  transition: var(--tran-short);
}

.show {
  display: revert;
  transition: var(--tran-short);
}



@media only screen and (max-width: 800px) {
  td:nth-child(4) {
    display: none;
  }
}