
:root {
  --white: snow;
  --highlight: rgb(203, 203, 203);
  --dark: dimgray;

  --secret: navajowhite;

  --tran-short: all .3s ease-in-out;

}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  scrollbar-width: none;
}


html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 1rem;

  /* cursor: url(../pointer/blue.cur), pointer; */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-transform: capitalize;
}

a:hover {
  color: blue;
}

h2 {
  margin: 20px;
}
/* -----------------------------------
  PASSWORD PROTECTION
-------------------------------------- */

.enter>input {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 50px;
  border: none;
  height: 50px;
  text-align: center;
  font-size: 1rem;

  transition: var(--tran-short);

  position: fixed;
  bottom: 10px;
  right: 10px;

  outline: none;
}


.badpass {
  font-size: 1rem !important;
  height: calc(100vh - 4px) !important;
  width: calc(100vh - 4px) !important;
  bottom: 2px !important;
  right: calc(50vw - 50vh) !important;
  position: fixed !important;
  max-width: 100vw !important;
}

.secret {
  display: none;
  box-shadow: 0px 3px 20px greenyellow;
}

.secret:hover {
  box-shadow: 0px 0px 10px greenyellow;

}


.hide {
  opacity: 0;
  transition: var(--tran-short);
}

.show {
  display: inline-grid;
  transition: var(--tran-short);
}


@media screen and (max-width: 600px) {
  .block {
    width: 90%;
  }
}