@media screen and (max-width: 900px) {
    
.grid {
  grid-template-columns: repeat(1, auto);
}

.object {
    max-width: calc(100vw/1);
}

button {
    font-size: 100%;
}

.outro{
  padding: 20px;
}

.outro > p {
  font-size: 1.3rem;
}

.outro > div > span {
  display: flex;
  margin-bottom: 30px;
  width: fit-content;
}

.buttonBig {
  font-size: 1rem;
}

.calculs{
  font-size: 1rem;
}


}