:root {
    --color: forestgreen;
    --bk: #b1cfd7;
}

body {
    margin: 20px;
    font-family: 'Alte Haas Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--bk);
}


.player {
    position: fixed;
    object-fit: cover;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    overflow: hidden;
    border-radius: 30px;
    top: 20px;
}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2rem;
    letter-spacing: 3px;
}

.info {
    z-index: 999;
    position: fixed;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    overflow: scroll;
    border-radius: 30px;
    top: 20px;
    left: 20px;
    padding: 0 10%;
}

.info div {
    padding: 40px 30px 20px 30px;
    border-radius: 30px 30px 0 0;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--bk);
}

p {
    margin: 0 10px;
}

form {
    background-color: var(--bk);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}


input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: var(--color);
    background-color: #e6e6e6;
    font-size: 1.2rem;
    text-align: center;
}

input::placeholder {
    opacity: 0.5;
    color: var(--color);
}


input[type="submit"] {
    background-color: var(--color);
    color: white;
    padding: 10px;
    border-radius: 10px;
}



img {
    height: 80vh;
    object-fit: contain;
}

small {
    font-size: 1rem;
}